<div class="card-deck">
 <% posts.each do |post| %>
  <div class="col-12 col-md-6 col-lg-4 mb-3">
   <div class="card mx-auto ">

    <%= link_to post_path(post.id) do %>
     <%= image_tag post.get_image(200, 200), class:"card-img-top img-fluid";%>
    <% end %>

    <div class="card-body">

    </div>
  </div>
 </div>
 <% end %>
</div>
