<div class="container">
  <div class="row justify-content-center">


投稿一覧
 <%= link_to "新規投稿", new_post_path %>


<div class="card-group py-5">
 <% @posts.each do |post| %>

 <div class="col-12 col-md-6 col-lg-4 mb-2">
   <div class="card h-80 w-60 mx-auto shadow-lg">



 <%= image_tag post.get_image, class:"card-img-top img-fluid " %>


 </div>
 </div>

 <% end %>
</div>

<%= paginate @posts %>
 </div>

 </div>