
<div class="container-fluid">
 <div class="row justify-content-center mb-5">
  <div class="cover">
   <div class="text-center">
    <h1 class="main-title mb-2">Sweets Reviews</h1>
     <p class="sub-title">〜スイーツ好きのためのレビューサイト〜</p>
     <p class="text">お気に入りのスイーツを投稿し、<br>
                     みんなでレビューし合ってコミュニケーションをとることが目的です</p>
</div>
</div>
</div>
</div>