<div class="content">
  <div class="content average-score">
    <div class="star-rating mb-2" id="star-rating">
      <div class="star-rating-front">
        <% (1..5).each do |i| %>
          <% if i <= post.reviews.first.score %>
            <i class="fas fa-star"></i>
          <% elsif i - 0.5 == post.reviews.first.score %>
            <i class="fas fa-star-half-alt"></i>
          <% else %>
            <i class="far fa-star"></i>
          <% end %>
        <% end %>
      </div>
      <div class="star-rating-back">
        <% (1..5).each do |i| %>
          <i class="far fa-star"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>