/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.main-title {
  font-family: cursive;
}

sub-title {
  font-family: serif;
}

.cover {
  height: 500px;
  width: 700px;
  justify-content: center;
  display: table;
  background-image: image-url("24840791.jpg");
  background-color: rgba(255,255,255,0.2);
  background-blend-mode: lighten;
  background-size: 100% 100%; /* 画像を要素にピッタリと収める */
  background-position: center; /* 画像を中央に配置 */
}

.text-center {
  display: table-cell;
  vertical-align: middle;
}

.nav-item {
  font-size: 32px;
  font-family: cursive;
}

footer {
  padding: 15px 0;
  font-size: 14px;
  text-align: center;
  background-color: #ccc;
}


.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}

.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
}

.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}

.rating-box .ratings .fa{
  font-size: 30px;
  color:#ffcc00;
  cursor: pointer;
}

.main-rating {
  display: flex;
}

.rating-value-display {
  font-size: 20px;
}
.star-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 20px;
}

.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
  white-space: nowrap;
}
.star-rating-back {
  color: #ccc;
}

.average-score {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.average-score-display {
  font-size: 16px;
}

.star-rating .far {
  display: none;
}

/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}
