 <div class="container">
  <div class="row justify-content-center">
    <h1 class="main-title md-2">Users</h1>

     <div class="col-md-12 p-2">

       <%= render "public/users/index", users: @users %>

       <div class="pagination justify-content-end">
        <%= paginate @users, theme: 'bootstrap-5' %>
       </div>
    </div>
  </div>
</div>