 <div class="container">
  <div class="row justify-content-center">
    <h1 class="main-title md-2">Users</h1>

     <div class="col-md-12 p-2">

       <% if @users.exists? %>

       <%= render "public/users/index", users: @users %>

       <% else %>
        <% @comment = 'No users' %>
        <%= render 'layouts/space' %>
       <% end %>

       <div class="pagination justify-content-end">
        <%= paginate @users, theme: 'bootstrap-5' %>
       </div>
    </div>
  </div>
</div>