 <div class="row justify-content-center m-3">
    <% if model.errors.any? %>
     <div class="flash-message alert">
        <%= model.errors.count %>件のエラーが発生しました
      <ul>
        <% model.errors.full_messages.each do |message| %>
         <li><%= message %></li>
        <% end %>
      </ul>
     </div>
    <% end %>
 </div>