<div class="container-fluid">
  <div class="row justify-content-center">
   <div class="cover">
    <div class="text-center">
     <h3 class="title mb-2">
      <%= @comment %>
     </h3>
    </div>
   </div>
  </div>
 </div>
